:root {
  --main-bg-color: rgb(30, 5, 53);
  --main-white: rgb(242, 241, 241);
}

html, body {
    background-color: var(--main-bg-color);
    color: var(--main-white);
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    /* margin: 10px; */
}

header .logo {
  width: 30px;
}

.navs {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

a {
  color: var(--main-white);
  text-decoration: none;
}

li {
  list-style: none;
  padding: 15px;
}

section {
  flex: 1;
  background-color: var(--main-bg-color);
  color: var(--main-white);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

section #title {
  color: var(--main-white);
  text-align: center;
  font-size: 100px;
}

footer {
  background-color: #222;
  color: var(--main-white);
  padding: 15px;
  
}

.social-medias {
  display: flex;
  flex-direction: row;
}