:root {
  --main-bg-color: rgb(30, 7, 51);
  --main-white: rgb(242, 241, 241);
  --main-contrast: #1D344F;
}

html {
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-white);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../imgs/elements/circle.png'), url('../imgs/elements/circle2.png'), url('../imgs/elements/triangle3.png'), url('../imgs/elements/circle3.png'), url('../imgs/elements/circle.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: -8vw 15vh, 70vw -15vh, 70vw 25vh, 20vw 120vh, 80vw 150vh;
  background-size: 30vw, 15vw, 40vw, 20vw, 25vw;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  /* margin: 10px; */
}

header .logo {
  width: 35px;
  padding-right: 15px;
}

.navs {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

a {
  color: var(--main-white);
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
  padding: 15px;
}

section {
  flex: 1;
  color: var(--main-white);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px 10px;
}

section #title {
  color: var(--main-white);
  text-align: center;
  font-size: 8vw;

}

.slogan {
  padding: 10px;
  margin-bottom: 50px;
  font-size: 2vw;
}

.facts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin: 70px 10px 30px 10px;
}

.fact {
  border: solid 2px transparent;
  border-radius: 25px;
  margin: 0px 0px 10px 0px;
  backdrop-filter: blur(10px);
  background-color: rgba(39, 9, 66, 0.821);
  transition: .5s;
}

.fact:hover {
  border: solid 2px var(--main-white);
}

h2 {
  padding-bottom: 20px;
}

h3 {
  padding: 10px 0px 0px 0px;
}

.claimReview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.readMore {
    width: 9.5vh;
    font-size: small;
    background-color:  #1e1d47;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    color: var(--main-white);
    border: 2px solid transparent;
    transition: background-color 0.2s, border 0.4s;
    text-align: center;
}

.readMore:hover {
  background-color: #1e1d478b;
  border: 2px solid  #1e1d47;
  cursor: pointer;
}

.readMore:active {
  background-color: #1e1d47;
}

.review {
  padding: 15px;
  margin: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border: 2px solid rgba(128, 0, 128, 0);
  border-radius: 25px;
  background-color: #3a377c;
  flex: 1;
  min-width: 350px;
}

.reviewName {
  text-align: left;
  /* padding: 20px; */
  font-weight: bolder;
}

.publisher {
  padding: 5px 0px 10px 0px;
}

.site {
  justify-content: flex-end;
}

.text {
  padding: 0px 35px 0px 15px;
  color: var(--main-white);
  text-align: justify;
  font-size: medium;
}

.textualRating {
  text-align: center;
  display: flex;
  justify-content: center;
}

#queryInput {
  min-width: 250px;
  width: 50vw;
  height: 50px;
  border-radius: 50px;
  border-style: none;
  padding-left: 20px;
}

#sendQueryInput {
  width: 120px;
  height: 50px;
  border-radius: 50px 50px 50px 50px;
  border-style: none;
  background-color: #44889e;
  color: var(--main-white);
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 6px;
}

#sendQueryInput:hover {
  background-color: #55aac6;
  transform: scale(1.05);
}

#sendQueryInput:active {
  transform: scale(0.9);
}

.claimant {
  font-weight: bold;
}

footer {
  background-color: #222;
  color: var(--main-white);
  padding: 15px;
}

.social-medias {
  display: flex;
  flex-direction: row;
}

.rumor {
  display: inline;
}

@media (max-width: 1100px) {
  .rumor {
    display: block; /* quebra a linha nessa palavra */
  }

  section #title {
    font-size: 10vw;
  }

  .slogan {
    font-size: 2vw;
  }
}

@media (max-width: 995px) {
    body {
        background-position: -8vw 15vh, 70vw -15vh, 70vw 25vh, 20vw 120vh, 80vw 150vh;
        background-size: 30vw, 25vw, 50vw, 25vw, 30vw;
    }

    section #title {
      font-size: 11vw;
    }

    .slogan {
      font-size: 3vw;
    }
}

@media (max-width: 690px) {
  body {
    background-position: -20vw 15vh, 70vw -15vh, 65vw 25vh, 10vw 140vh, 80vw 190vh;
    background-size: 35vw, 40vw, 50vw, 30vw, 35vw;
    }

    section #title {
      font-size: 18vw;
    }

    .slogan {
      font-size: 4vw;
    }
}